/* Fonts */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Now";
  src: url("../assets/fonts/Now-Medium.otf") format("truetype");
}
@font-face {
  font-family: "OpenSauce";
  src: url("../assets/fonts/OpenSauceOne-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Brandink";
  src: url("../assets/fonts/BrandinkSans.otf") format("truetype");
}
/* Colors */
$DarkBlue: #2400ff;
$GrayWhite: #f4eeee;
$LightBlue: #a5fff7;
$LightPurple: #aba5f1;
$DarkPurple: #6d55ff;
$LightGreen: #d9faae;
