/* Fonts */
@font-face {
  font-family: "Now";
  src: url("../assets/fonts/Now-Medium.otf") format("truetype");
}
@font-face {
  font-family: "OpenSauce";
  src: url("../assets/fonts/OpenSauceOne-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "BrandinkLight";
  src: url("../assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
}
/* Colors */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: black;
}
body::-webkit-scrollbar {
  display: none;
}

/* HERO SECTION */
.blueBG {
  background: linear-gradient(to bottom, rgba(34, 0, 255, 0.5882352941) 30%, black);
}

.redBg {
  background: linear-gradient(to bottom, #a80f69 30%, black);
}

.Landinbtn {
  height: 100%;
  font-family: Poppins;
}

.btn-one {
  width: 240px;
  background: linear-gradient(180deg, rgba(26, 1, 255, 0.281), rgba(103, 33, 216, 0.15), rgba(104, 102, 219, 0.089));
  color: white;
  border-radius: 50px;
  -webkit-backdrop-filter: blur(250px) !important;
          backdrop-filter: blur(250px) !important;
  border: solid rgba(255, 255, 255, 0.411) 1px !important;
}

.btn-two {
  width: 300px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.178));
  letter-spacing: 15px;
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
  background-size: 100% 100%;
  border-radius: 30px;
  transition: background 100ms, filter 1200ms, color 150ms, border 200ms, box-shadow 450ms ease-in-out;
  color: white;
  border: solid thin white;
  outline: none;
  filter: drop-shadow(0px 0px 0px white);
}
.btn-two:hover {
  filter: drop-shadow(2px 2px 100px skyblue);
}

.hide-cursor .Cursor {
  display: none;
}

/* INTEREST */
#interestBox {
  background: #a5fff7;
  border: solid thin white !important;
}

/* Login Register Form */
.GridLoginInputs {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(6, auto-fit);
  grid-gap: 15px;
  align-items: center;
  justify-content: center;
  font: 16px Poppins;
  color: black;
  grid-auto-flow: column;
  border: solid red thick;
}

.LoginInputs {
  background: linear-gradient(90deg, rgb(247, 244, 244), rgb(238, 236, 236));
  padding: 9px 20px;
  grid-column: span 6;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(300px);
          backdrop-filter: blur(300px);
}
.LoginInputs:focus {
  outline: none;
  border: none;
}
.LoginInputs:nth-child(1), .LoginInputs:nth-child(2) {
  grid-column: span 3;
}/*# sourceMappingURL=index.css.map */