@use "fonts&colors" as FnC;
@use "reset.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

//----------BODY THE SCROLL BAR --------
body {
  background: black;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-x: hidden;
}

/* HERO SECTION */
.blueBG {
  background: linear-gradient(to bottom, FnC.$DarkBlue 30%, black);
}
.redBg {
  background: linear-gradient(to bottom, FnC.$DarkRed 30%, black);
}
.Landinbtn {
  height: 100%;
  font-family: Poppins;
}
.btn-one {
  width: 240px;
  background: linear-gradient(
    180deg,
    rgba(26, 1, 255, 0.281),
    rgba(103, 33, 216, 0.15),
    rgba(104, 102, 219, 0.089)
  );
  color: white;
  border-radius: 50px;
  backdrop-filter: blur(250px) !important;
  border: solid rgba(255, 255, 255, 0.411) 1px !important ;
}
.btn-two {
  width: 300px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.144),
    rgba(255, 255, 255, 0.178)
  );
  letter-spacing: 15px;
  backdrop-filter: blur(150px);
  background-size: 100% 100%;
  border-radius: 30px;
  transition: background 100ms, filter 1200ms, color 150ms, border 200ms,
    box-shadow 450ms ease-in-out;
  color: white;
  border: solid thin white;
  outline: none;
  filter: drop-shadow(0px 0px 0px white);
  &:hover {
    filter: drop-shadow(2px 2px 100px skyblue);
  }
}
.hide-cursor .Cursor {
  display: none;
}

/* ______________ INTEREST _________________ */
#interestBox {
  background: FnC.$LightBlue;
  border: solid thin white !important;
}

/* _________Login Register Form _________________*/
.GridLoginInputs {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(6, auto-fit);
  grid-gap: 15px;
  align-items: center;
  justify-content: center;
  font: 16px Poppins;
  color: black;
  grid-auto-flow: column;
  border: solid red thick;
}
#LoginInputs {
  background: linear-gradient(90deg, rgb(247, 244, 244), rgb(238, 236, 236));
  padding: 9px 20px;
  grid-column: span 6;
  border-radius: 30px;
  backdrop-filter: blur(300px);
  &:focus {
    outline: none;
    border: none;
  }
  &:nth-child(1),
  &:nth-child(2) {
    grid-column: span 3;
  }
}

/*  _______________ COMMUNITIES _________________ */

//----------LOGO LOADING---------------
.loadingAnimation {
  animation: circleToSquare 300ms alternate infinite;
  @keyframes circleToSquare {
    0% {
      background-size: 100% !important;
      filter: blur(150px);
    }
    100% {
      background-size: 500% !important;
      filter: blur(200px);
    }
  }
}

// <----------- COLORS SECTION ------------>
.masked {
  mask-image: url("../assets/mask/LinesMask.png");
  mask-size: 100% 100%;
  background: linear-gradient(
    45deg,
    #ff3d8e,
    rgb(247, 25, 236),
    #ff8e3d,
    #e7ff3d,
    #3dff8e,
    purple
  );
}
.animateBg {
  animation: animateBg 2000ms alternate infinite;
  background-size: 100% 100%;
  @keyframes animateBg {
    from {
      background-size: 100% 100%;
    }
    to {
      background-size: 600% 600%;
    }
  }
}
//<--------------- NAVBAR -------------->
.navBar {
  position: sticky !important;
  top: 0 !important;
}
//<-----LoadingAnimation ------>

.loadingAnimation {
  animation: roundSquare 1500ms ease-in-out infinite alternate;
  animation-delay: calc(var(--index) * 1000ms);
  @keyframes roundSquare {
    from {
      border-radius: 100%;
      background-color: white;
      rotate: 0;
    }
    to {
      border-radius: 10%;
      background-color: var(--original-color);
      rotate: 45deg;
    }
  }
}
.circleLoading {
  background: linear-gradient(130deg, blue, purple, blue, pink, skyblue);
  pointer-events: none;
  filter: blur(50px);
  translate: 0 100%;
  scale: 3 2;
  z-index: -1;
  animation: backgroundMove 5500ms alternate infinite;
  @keyframes backgroundMove {
    from {
      background-size: 100% 100%;
      filter: blur(50px);
    }
    to {
      background-size: 500% 500%;
      filter: blur(120px);
    }
  }
}

/* <-------- LOGIN SIGN UP -------------> */
@keyframes InvalidInput {
  from {
    opacity: 0.5;
    border: solid red thin;
  }
  50% {
    opacity: 1;
    border: solid white thin;
  }
  to {
    opacity: 0.5;
    border: solid red thin;
  }
}

.inputInvalid {
  animation: invalidInput 400ms ease-in;
  border: yellow solid thin;
  outline: red solid thin;
}

.bgColorful {
  &:before {
    content: "";
    width: 360px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background: linear-gradient(to left, purple, blue);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    filter: blur(55px);
    opacity: 0.5;
    scale: 3;
  }
  &::after {
    content: "";
    width: 360px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background: linear-gradient(to left, rgba(240, 23, 59, 0.582), blue);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    filter: blur(55px);
    opacity: 0.5;
    scale: 2;
  }
}

/* THE CATEGORIES SECTION */
.carousel-dots {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  color: white !important;
  @media (max-width: 800px) {
    display: none;
    opacity: 0;
  }
}

//Contact us Page 
.animateDots{
  animation : dotsUpDown 500ms infinite ease-in-out ; 

}
@keyframes dotsUpDown {
  from  {
    translate: 0 -20px !important;
  }
  to  {
    translate: 0 0 !important;
  }
}